---
layout: default
---

{% include nav_home.html %}

<div class="framein tabcontent" id="home">
  <section id="about">
    <p>
      Hi! I am a PhD candidate in the department of computing science at SFU (CGPA: 4.33/4.33) under the supervision of <a href="https://cchauve.github.io/index.html"><span>Cedric Chauve</span></a>, <a href="https://www2.cs.sfu.ca/~maxwl/"><span>Maxwell Libbrecht</span></a>, and <a href="https://www.bccrc.ca/dept/tfl/people/ryan-brinkman"><span>Ryan Brinkman</span></a>. Previously, I recieved my MSc at SFU and my BSc with distinction at UVic (CGPA:8.7/9.0) in the beautiful city of Victoria.
    </p>
    <p>
      <b>Research interests</b>: I develop <b>machine learning</b>, <b>data mining</b>, and <b>statistical analysis</b> methods for high-dimensional and graph structured data. In <b>bioinformatics</b>, I have applied my methods on flow cytometry, scRNAseq, and DNA sequence data.
    </p>
  </section>
        
  <section class="nodate">
    <h2>Publications</h2>
    {% bibliography %}
  </section>
        
  <section>
    <h2>Paper review</h2>
    <p><b>Reviewed papers for</b>: ACM (2018), ISMB (2019, 2020), Neurips (2020), Oxford Bioinformatics (2016, 2020), and RECOMB (2020)</p>
    <p><b>Committe member for</b>: MLCB (2019)</p>
  </section>

</div>
    
<div id="projects" class="framein tabcontent">

  <section>
    <h2>Github repositories</h2>
    {% include projects.html %}
  </section>

</div>
        
<div id="service" class="framein tabcontent">
        
  <section id="awards">
    <h2>Teaching</h2>
    <p>
      Teaching assistant for: CMPT 105 (technical writing), 120 (introduction to computing science), and 125 (data structures).
    </p>
    <p>
      Part of the pilot program for the first ISG (instructional support group) model for online post-secondary education at SFU.
    </p>
  </section>
        
  <section>
    <h2>Scholarships and awards</h2>
    <ul>
      {% for awards in site.data.awards %}
      <li>
        <span class="date">{{ awards.time }}</span>
        <span>{{ awards.title }}</span>
      </li>
      {% endfor %}
    </ul>    
  </section>

  <section>
    <h2>Service</h2>
      <ul>
        <li>
          <span class="date">2017 - 2021</span>
          <b>President</b> (past: VP of Finance, GSS councillor, TSSU steward), Computing science graduate student association, SFU
          <span class="excerpt"><p>Sucessfully re-initiated and created administrative structure to an inactive caucus. Provided oversight, and organized social and academic events for the student body;</p> <p>e.g. general meetings, lunch social, facuty candidate seminar lunch, game night, logo contest, amenity cleaning socials, buddy program for new students.</p><p>Acted as the liason between the school, GSS (graduate student society), TSSU (union for TA & RA), and the student body.</p> </span>
      </li>
      <li>
        <span class="date">2018, 2019</span>
        <b>Mentor</b>, AI4All Invent the Future Scholars Program SFU
          <span class="excerpt"><p>Mentored and created projects for the bioinformatics group during the first and second annual summer enrichment program for high school girls in Canada.</p> <p>Github repositories: <a href="https://github.com/aya49/ai4all2018_bio">[2018]</a>, <a href="https://github.com/aya49/ai4all2019_bio">[2019]</a>.</p></span>
      </li>
    </ul>
  </section>

</div>

