<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="text/html" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link href="{{ "/css/github.css" | relative_url }}" rel="stylesheet" type="text/css">-->
    <link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet" type="text/css">

    <!-- 
      Credits:
      - leaf background by BiZkettE1 \ freepik
      - github projects api from https://github.com/github/personal-website
    -->

    <title>{{ page.title }}</title>
  </head>

  <body>
