{% assign user = site.github.owner %}

<div class="frame" id="frame-header">
  <div class="framein" id="header">

<!--
<div style="border-radius: 50%; width: 152px; height: 152px; background: linear-gradient(45deg, #ce8d28, #f1faee, #ce8d28); margin: auto;">-->
<a href="{{ "/" | relative_url }}"><img src="{{ user.avatar_url }}" alt="profile picture" style="border-radius: 50%; width: 150px; height: 150px;"></a></div>

    <h1>Alice Yue</h1>
      
    <p>PhDC in computing science</p>
      
    <div class="social-links">
      <a href="https://scholar-google-ca.proxy.lib.sfu.ca/citations?user=NeWJef4AAAAJ" title="Google scholar" target="_blank"><i class="fa fa-google"></i></a>
      <a href="https://www.linkedin.com/in/aliceyue/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/aya49/" title="Github" target="_blank"><i class="fa fa-github"></i></a>
    </div>

  </div>
</div>
