---
---

<div class="text-justify">{{reference}}</div>

<button class="button b0"  onclick="toggleBibtex{{entry.key}}()">Bibtex</button>

{% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}"><input class="button b1" type="button" value="doi" /></a>
{% endif %}

{% if entry.pdf %}
    <a href="{{ entry.pdf }}" target="_blank"><input class="button b1" type="button" value="pdf" /></a>
{% endif %}

{% if entry.slides %}
    <a href="{{ entry.slides }}" target="_blank"><input class="button b1" type="button" value="slides" /></a>
{% endif %}
 
{% if entry.poster %}
    <a href="{{ entry.poster }}" target="_blank"><input class="button b1" type="button" value="poster" /></a>
{% endif %}

{% if entry.website %}
    <a href="{{ entry.website }}" target="_blank"><input class="button b2" type="button" value="website" /></a>
{% endif %}

{% if entry.code %}
    <a href="{{ entry.code }}" target="_blank"><input class="button b2" type="button" value="code" /></a>
{% endif %}

<div id="a{{entry.key}}" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>
<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>